{% extends 'admin.html.twig' %}
{% block main %}
    <div class="card">
        <div class="card-body crud">
            <div class="crud-header">
                <a href="{{ path('admin_almacen_articulo_create') }}">
                    <button type="button" class="btn btn-primary">Nuevo</button>
                </a>
            </div>
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">Categoria</th>
                            <th scope="col">U. Medida</th>
                            <th scope="col">Articulo</th>
                            <th scope="col">Descripcion</th>
                            <th scope="col">Imagen</th>
                            <th scope="col">Opciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        
                        {% for articulo in articulos %}
                            <tr>
                                <th>Cat</th>
                                <td>{{ articulo.getNombre() }}</td>
                                <td>{{ articulo.getTelefono() }}</td>
                                <td>{{ articulo.getLogin() }}</td>
                                <td>{{ articulo.getFoto() }}</td>
                                <td>
                                    <a href="/admin/articulo/update/{{articulo.getId()}}">
                                        <button type="button" class="btn btn-sm btn-primary">Editar</button>
                                    </a>
                                    <a href="/admin/articulo/delete/{{articulo.getId()}}">
                                        <button type="button" class="btn btn-sm btn-danger">Eliminar</button>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item"><a class="page-link" href="#">Anterior</a></li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">Siguiente</a></li>
                </ul>
            </nav>
        </div>
    </div>
{% endblock %}