{% extends 'admin.html.twig' %}
{% block main %}
    <div class="card">
        <div class="card-body">
            {{ form_start(form_update) }}
                <div class="form-row">
                    <div class="form-group col-md-6">
                        {{ form_label(form_update.apellidos,'Apellidos (*):') }}
                        {{ form_widget(form_update.apellidos, {'attr':{'class':'form-control'}}) }}
                    </div>
                    <div class="form-group col-md-6">
                        {{ form_label(form_update.nombres,'Nombre (*):') }}
                        {{ form_widget(form_update.nombres, {'attr':{'class':'form-control'}}) }}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        {{ form_label(form_update.tipo_documento,'Tipo Documento (*):') }}
                        {{ form_widget(form_update.tipo_documento, {'attr':{'class':'form-control'}}) }}
                    </div>
                    <div class="form-group col-md-6">
                        {{ form_label(form_update.numero_documento,'Documento (*):') }}
                        {{ form_widget(form_update.numero_documento, {'attr':{'class':'form-control'}}) }}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-4">
                        {{ form_label(form_update.direccion,'Dirección (*):') }}
                        {{ form_widget(form_update.direccion, {'attr':{'class':'form-control'}}) }}
                    </div>
                    <div class="form-group col-md-4">
                        {{ form_label(form_update.telefono,'Teléfono (*):') }}
                        {{ form_widget(form_update.telefono, {'attr':{'class':'form-control'}}) }}
                    </div>
                    <div class="form-group col-md-4">
                        {{ form_label(form_update.email,'Email:') }}
                        {{ form_widget(form_update.email, {'attr':{'class':'form-control'}}) }}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        {{ form_label(form_update.fecha_nacimiento,'Fecha Nacimiento:') }}
                        {{ form_widget(form_update.fecha_nacimiento, {'attr':{'class':'form-control'}}) }}
                    </div>
                    <div class="form-group col-md-6">
                        {{ form_label(form_update.foto,'Foto:') }}
                        {{ form_widget(form_update.foto, {'attr':{'class':'form-control'}}) }}
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-check">
                        {{ form_widget(form_update.estado, {'attr':{'class':'form-control'}}) }}
                        {{ form_label(form_update.estado,'Estado') }}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        {{ form_label(form_update.login,'Login (*):') }}
                        {{ form_widget(form_update.login, {'attr':{'class':'form-control'}}) }}
                    </div>
                    <div class="form-group col-md-6">
                        {{ form_label(form_update.clave,'Clave (*):') }}
                        {{ form_widget(form_update.clave, {'attr':{'class':'form-control'}}) }}
                    </div>
                </div>

                <input type="submit" class="btn btn-primary" value="Guardar" />
            {{ form_end(form_update) }}
        </div>
    </div>
{% endblock %}