{% extends 'admin.html.twig' %}
{% block main %}
    <div class="card">
        <div class="card-body">
            {{ form_start(form_create) }}
                <div class="form-group">
                    {{ form_label(form_create.razon_social,'Razón Social (*):') }}
                    {{ form_widget(form_create.razon_social, {'attr':{'class':'form-control'}}) }}
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        {{ form_label(form_create.tipo_documento,'Tipo Documento (*):') }}
                        {{ form_widget(form_create.tipo_documento, {'attr':{'class':'form-control'}}) }}
                    </div>
                    <div class="form-group col-md-6">
                        {{ form_label(form_create.numero_documento,'Documento (*):') }}
                        {{ form_widget(form_create.numero_documento, {'attr':{'class':'form-control'}}) }}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-4">
                        {{ form_label(form_create.direccion,'Dirección (*):') }}
                        {{ form_widget(form_create.direccion, {'attr':{'class':'form-control'}}) }}
                    </div>
                    <div class="form-group col-md-4">
                        {{ form_label(form_create.telefono,'Teléfono (*):') }}
                        {{ form_widget(form_create.telefono, {'attr':{'class':'form-control'}}) }}
                    </div>
                    <div class="form-group col-md-4">
                        {{ form_label(form_create.email,'Email:') }}
                        {{ form_widget(form_create.email, {'attr':{'class':'form-control'}}) }}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        {{ form_label(form_create.representante,'Representante:') }}
                        {{ form_widget(form_create.representante, {'attr':{'class':'form-control'}}) }}
                    </div>
                    <div class="form-group col-md-6">
                        {{ form_label(form_create.logo,'Logo:') }}
                        {{ form_widget(form_create.logo, {'attr':{'class':'form-control'}}) }}
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-check">
                        {{ form_widget(form_create.estado, {'attr':{'class':'form-control'}}) }}
                        {{ form_label(form_create.estado,'Estado') }}
                    </div>
                </div>

                <input type="submit" class="btn btn-primary" value="Guardar" />
            {{ form_end(form_create) }}
        </div>
    </div>
{% endblock %}