{% extends 'admin.html.twig' %}
{% block main %}
    <div class="card">
        <div class="card-body">
            {{ form_start(form_create) }}
                <div class="form-row">
                    <div class="form-group col-md-4">
                        {{ form_label(form_create.perfil,'Tipo de Usuario:') }}
                        {{ form_widget(form_create.perfil, {'attr':{'class':'form-control'}}) }}
                    </div>
                </div>
                <div class="form-check form-check-inline">
                    {{ form_widget(form_create.menu_almacen, {'attr':{'class':'form-check-input'}}) }}
                    {{ form_label(form_create.menu_almacen,'Almacen', {'attr':{'class':'form-check-label'}}) }}
                </div>
                <div class="form-check form-check-inline">
                    {{ form_widget(form_create.menu_compra, {'attr':{'class':'form-check-input'}}) }}
                    {{ form_label(form_create.menu_compra,'Compras', {'attr':{'class':'form-check-label'}}) }}
                </div>
                <div class="form-check form-check-inline">
                    {{ form_widget(form_create.menu_venta, {'attr':{'class':'form-check-input'}}) }}
                    {{ form_label(form_create.menu_venta,'Ventas', {'attr':{'class':'form-check-label'}}) }}
                </div>
                <div class="form-check form-check-inline">
                    {{ form_widget(form_create.manu_mantenimiento, {'attr':{'class':'form-check-input'}}) }}
                    {{ form_label(form_create.manu_mantenimiento,'Mantenimiento', {'attr':{'class':'form-check-label'}}) }}
                </div>
                <div class="form-check form-check-inline">
                    {{ form_widget(form_create.menu_seguridad, {'attr':{'class':'form-check-input'}}) }}
                    {{ form_label(form_create.menu_seguridad,'Seguridad', {'attr':{'class':'form-check-label'}}) }}
                </div>
                <div class="form-check form-check-inline">
                    {{ form_widget(form_create.menu_consulta_compra, {'attr':{'class':'form-check-input'}}) }}
                    {{ form_label(form_create.menu_consulta_compra,'Consulta de Compras', {'attr':{'class':'form-check-label'}}) }}
                </div>
                <div class="form-check form-check-inline">
                    {{ form_widget(form_create.menu_consulta_venta, {'attr':{'class':'form-check-input'}}) }}
                    {{ form_label(form_create.menu_consulta_venta,'Consulta de Ventas', {'attr':{'class':'form-check-label'}}) }}
                </div>
                <div class="form-check form-check-inline">
                    {{ form_widget(form_create.menu_admin, {'attr':{'class':'form-check-input'}}) }}
                    {{ form_label(form_create.menu_admin,'Administrador', {'attr':{'class':'form-check-label'}}) }}
                </div>
                <div role="separator" class="divider"></div>
                <input type="submit" class="btn btn-primary" value="Guardar" />
            {{ form_end(form_create) }}
        </div>
    </div>
{% endblock %}