{% extends 'admin.html.twig' %}
{% block main %}
    <div class="card">
        <div class="card-body">
            {{ form_start(form_update) }}
                <div class="form-group">
                    {{ form_label(form_update.razon_social,'Razón Social (*):') }}
                    {{ form_widget(form_update.razon_social, {'attr':{'class':'form-control'}}) }}
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        {{ form_label(form_update.tipo_documento,'Tipo Documento (*):') }}
                        {{ form_widget(form_update.tipo_documento, {'attr':{'class':'form-control'}}) }}
                    </div>
                    <div class="form-group col-md-6">
                        {{ form_label(form_update.numero_documento,'Documento (*):') }}
                        {{ form_widget(form_update.numero_documento, {'attr':{'class':'form-control'}}) }}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-4">
                        {{ form_label(form_update.direccion,'Dirección (*):') }}
                        {{ form_widget(form_update.direccion, {'attr':{'class':'form-control'}}) }}
                    </div>
                    <div class="form-group col-md-4">
                        {{ form_label(form_update.telefono,'Teléfono (*):') }}
                        {{ form_widget(form_update.telefono, {'attr':{'class':'form-control'}}) }}
                    </div>
                    <div class="form-group col-md-4">
                        {{ form_label(form_update.email,'Email:') }}
                        {{ form_widget(form_update.email, {'attr':{'class':'form-control'}}) }}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        {{ form_label(form_update.representante,'Representante:') }}
                        {{ form_widget(form_update.representante, {'attr':{'class':'form-control'}}) }}
                    </div>
                    <div class="form-group col-md-6">
                        {{ form_label(form_update.logo,'Logo:') }}
                        {{ form_widget(form_update.logo, {'attr':{'class':'form-control'}}) }}
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-check">
                        {{ form_widget(form_update.estado, {'attr':{'class':'form-control'}}) }}
                        {{ form_label(form_update.estado,'Estado') }}
                    </div>
                </div>

                <input type="submit" class="btn btn-primary" value="Guardar" />
            {{ form_end(form_update) }}
        </div>
    </div>
{% endblock %}