{% extends 'admin/layout.twig' %}
{% block main %}
    <div class="card">
        <div class="card-body">
            <form action="/admin/categoria/{{ type }}" method="POST">
                {% if categoria.id %}
                    <div style="display:none">
                        <label for="id">id:</label>
                        <input type="text" value="{{ categoria.id }}" class="form-control" id="id" name="id">
                    </div>
                {% endif %}
                <div class="form-group">
                    <label for="nombre">Nombre (*):</label>
                    <input type="text" value="{{ categoria.nombre}}" class="form-control" id="nombre" name="nombre">
                </div>
                <div class="form-check">
                    <input class="form-check-input" {{ categoria.estado ? 'checked': '' }} type="checkbox" id="estado">
                    <label class="form-check-label" for="estado" name="estado">Estado</label>
                </div>

                <input type="submit" class="btn btn-primary" value="{{ type == 'create' ? 'Guardar' : 'Guardar Cambios' }}" />
            </form>
        </div>
    </div>
{% endblock %}