{% extends 'admin/layout.twig' %}
{% block main %}
    <div class="card">
        <div class="card-header card-header-primary">
            <h4 class="card-title">{{ type == 'create' ? 'Nuevo' : 'Editar' }} categoria</h4>
            <p class="card-category">Complete los campos</p>
        </div>
        <div class="card-body">
            <form action="/admin/categoria/{{ type }}" method="POST">
                {% if categoria.id %}
                    <div style="display:none">
                        <label for="id">id:</label>
                        <input type="text" value="{{ categoria.id }}" class="form-control" id="id" name="id">
                    </div>
                {% endif %}
                <div class="form-group">
                    <label for="nombre" class="bmd-label-floating">Nombre (*):</label>
                    <input type="text" value="{{ categoria.nombre}}" class="form-control" id="nombre" name="nombre">
                </div>
                <div class="form-group">
                    <div class="form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" name="estado" type="checkbox" {{ categoria.estado ? 'checked': '' }}>
                            Estado
                            <span class="form-check-sign">
                            <span class="check"></span>
                            </span>
                        </label>
                    </div>
                </div>
                <input type="submit" class="btn btn-raised btn-primary" value="{{ type == 'create' ? 'Guardar' : 'Guardar Cambios' }}" />
            </form>
        </div>
    </div>
{% endblock %}