{% extends 'admin.html.twig' %}
{% block main %}
    <div class="card">
        <div class="card-body">
            {{ form_start(form_create) }}
                <div class="form-group">
                    {{ form_label(form_create.nombre,'Nombre (*):') }}
                    {{ form_widget(form_create.nombre, {'attr':{'class':'form-control'}}) }}
                </div>
                <div class="form-check">
                    {{ form_widget(form_create.estado, {'attr':{'class':'form-check-input'}}) }}
                    {{ form_label(form_create.estado,'Estado', {'attr':{'class':'form-check-label'}}) }}
                </div>
                <input type="submit" class="btn btn-primary" value="Guardar" />
            {{ form_end(form_create) }}
        </div>
    </div>
{% endblock %}